<section id="contact">
  <div class="container">
    <h1>Contact</h1>
    <form id="contact-form">
      <div class="form-group">
        <label for="form__email">Your email</label>
        <input type="email" class="form-control" name="email" id="form__email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="form__content">Content</label>
        <textarea class="form-control" name="content" id="form__content"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</section>
